<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Restaurant</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0f5d09" />

    <link rel="icon" href="./images/logo/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./images/logo/icon.png">
    <link rel="shortcut icon" href="./images/logo/icon.png">
    <link rel="shortcut icon" href="./images/logo/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
</head>

<body>
    <a href="#headline" class="skip-link">Menuju ke konten</a>

    <header>
        <button id="menu" class="off-canvas" href="#" aria-label="Side Navigation">☰</button>
        <nav id="drawer" class="nav">
            <div id="wrapperid" class="wrapper">
                <p class="p-header"><a href="#/home">THE RESTAURANT</a></p>
                <div></div>
                <div class="nav-link"><a href="#/home">HOME</a></div>
                <div class="nav-link"><a href="#/favorite">FAVORITE</a></div>
                <div class="nav-link"><a href="https://www.linkedin.com/in/yoga-ulil-al-baab-b7a63b247">ABOUT US</a>
                </div>
            </div>
        </nav>
        <div class="hero-text-box">
            <h1>The Restaurant</h1>
            <p>Cari dan rasakan kelezatan setiap gigitan nya</p>
            <a class="btn btn-full-header" href="#headline">Cari Restoran Sekarang!</a>
            <a class="btn btn-ghost" href="#/favorite">Restoran Favorit</a>
        </div>
        <div class="hero">
            <picture>
                <source media="(max-width: 600px)" srcset="./images/heros/hero-small.jpg" type="image/jpeg" style="width: 100vw; height: 700px;object-fit: cover;object-position: center;">
                <source media="(max-width: 1000px)" srcset="./images/heros/hero-large.jpg" type="image/jpeg" style="width: 100vw; height: 700px;object-fit: cover;object-position: center;">
                <img src="./images/heros/hero.jpg" alt="Hero Image" style="width: 100vw; height: 700px;object-fit: cover;object-position: center;">
            </picture>
        </div>
    </header>

    <main id="mainContent" tabindex="0"></main>

    <footer-element></footer-element>
</body>

</html>