@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #5a5a5a;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 19px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

footer {
    padding: 20px;
    color: white;
    background-color: #0f5d09;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}

h3 {
    font-size: 28px;
    text-align: center;
}


nav {
    background-color: #0f5d09;
    padding: 10px;
    position: sticky;
    top: 0;
    min-height: 60px;
    overflow: hidden;
    text-align: right;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-header {
    color: white;
    text-align: left;
    white-space: nowrap;
    
}

.p-header a {
    font-weight: 700;
}

nav a:hover {
    font-weight: bold;
    transition: font-weight 0.2s;
}

.wrapper {
    display: grid;
    list-style-type: none;
    margin-right: 50px;
    margin-left: 50px;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
    align-items: center;
}

.wrapper p a, .wrapper div a {
    color: white;
}

.hero-text-box {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7fff7;
    text-align: center;
}

.logo-image {
    display: inline-block;
    height: 45px;
    width: auto;
    left: 0%;
}

.content-description-foods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: auto;
}

.content-description-foods div {
    color: rgb(0, 0, 0);
    padding: 20px;
    background-color: #c7ffc4;
    font-weight: 400;
}

.content-description-drinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: auto;
}

.content-description-drinks div {
    color: rgb(0, 0, 0);
    padding: 20px;
    background-color: #c7ffc4;
    font-weight: 400;
}

.content-description div{
    border-bottom: 3px solid black;
    font-weight: 400;
    margin-bottom: 10px;
}

.nav-link {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.nav-link a {
    font-weight: 700;
    white-space: nowrap;
}

.off-canvas {
    margin: 10px auto;
    display: block;
    width: 45px;
    height: 45px;
    text-decoration: none;
}

#menu {
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    position: absolute;
    transform: translate(15px, 0);
}


.headline {
    margin-bottom: 40px;
}

.content {
    margin: 32px auto auto;
    text-align: left;
}

.content-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.content-thumbnail {
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: center;
}

.content-rating {
    margin-top: 5px;
    display: inline;
    font-size: 19px;
    font-weight: 700;
    color: #000000;
}

.content-paragraph {
    margin-top: -10px;
}

.content-location {
    background-color: #0f5d09;
    display: flex;
    font-size: 19px;
    font-weight: 700;
    color: white;
    justify-content: space-around;
}

.content-title {
    font-weight: 400;
    font-size: 25px;
    transition: 0.3s opacity;
    margin: 15px;
}

.content-title:hover {
    color: #1fc66a;
    transition: color 0.2s;
}

.content-title a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.content-description {
    margin-top: -16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
}

.restaurant .restaurant-overview .content-description {
    text-align: justify;
}

.content-title-detail {
    font-weight: 400;
    font-size: 25px;
    margin-top: -7px;
    transition: 0.3s opacity;
}

.content-title-detail:hover {
    color: #55be7f;
    transition: color 0.2s;
}

.content-title-detail a {
    text-decoration: none;
    color: inherit;
}

.content-thumbnail-detail {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.content-rating-detail {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.content-location-detail {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-top: 5px;
}

.content-address-detail {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-top: 5px;
}

.content-category-detail {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-top: 5px;
}


.skip-link {
    position: absolute;
    top: -50px;
    left: 0;
    background-color: #66DE93;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}


.btn:link,
.btn:visited,
input[type=submit] {
    font-size: 17px;
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.2s;
    color: 0.2s;
    border: 0.2s;
    text-align: center;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 700;
}

div.hero-text-box .btn-ghost:link,
div.hero-text-box .btn-ghost:visited {
    padding: 15px;
    border: 4px solid #0f5d09;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
}

div.hero-text-box .btn-full-header:link,
div.hero-text-box .btn-full-header:visited {
    padding: 15px;
    background-color: #0f5d09;
    border: 4px solid #0f5d09;
    color: white;
    margin-right: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #3ad899;
    transition: background-color 0.2s;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #3ad899;
    transition: border 0.2s;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #3ad899;
    color: #fff;
    transition: all 0.2s;
}



.like {
    font-size: 35px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #00db21;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

